body {
  font-family: 'Helvetica Neue', Arial, sans-serif;;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
}

.filter-group {
  margin: 10px;
  position: relative;
}

.filter-group h4 {
  cursor: pointer;
  margin: 0;
  padding: 5px 10px; /* Reduced padding */
  background-color: #800000;
  color: white;
  border-radius: 5px;
  font-size: 14px; /* Smaller font size */
  transition: background-color 0.3s;
}

.dropdown {
  display: flex;
  flex-direction: column; /* Change to column to display vertically */
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  position: absolute;
  z-index: 1;
  padding: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.button {
  padding: 8px; /* Reduced padding */
  margin: 3px 0; /* Adjust margins for vertical display */
  border: none;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  font-size: 14px; /* Smaller font size */
}

.button:hover {
  background-color: #800000;
  color: white;
}

.button.active {
  background-color: #333;
  color: white;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px;
  width: 250px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.item .category {
  margin-top: 5px;
  font-size: 14px;
  color: #555;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.profile-header p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.wishlist-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #800000; /* Dark Red color for the star */
  transition: color 0.3s;
}

.wishlist-button.active {
  color: #333; /* Dark color for active star */
}

.wishlist-button:hover {
  color: #555; /* Lighten color on hover */
}

.basic-info, .expanded-profile {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.basic-info p, .expanded-profile p {
  margin: 5px 0;
  color: #333;
}

.header {
  background-color: #800000; /* Dark Red background */
  color: white; /* White text */
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

.logo {
  display: inline-block;
  margin-right: 20px;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white; /* White text for links */
}

.nav-links li button {
  background: none;
  border: none;
  color: white; /* White text for button */
  cursor: pointer;
}

footer {
  background-color: #f8f9fa;
  padding: 10px;
  border-top: 1px solid #dee2e6;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.wishlist-container {
  padding: 20px;
}

.wishlist-container h2 {
  color: #800000; /* Dark Red color */
}

.wishlist-container .items-container {
  display: flex;
  flex-wrap: wrap;
}

.wishlist-container .item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 200px;
  background-color: #f9f9f9;
  position: relative;
}

/* Transition styles for profile expansion */
.expand-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.expand-enter-active {
  max-height: 500px;
  opacity: 1;
}

.expand-exit {
  max-height: 500px;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.expand-exit-active {
  max-height: 0;
  opacity: 0;
}

.clear-filters-button {
  padding: 5px 10px; /* Reduced padding */
  margin: 10px 0; /* Adjust margins for vertical display */
  border: none;
  background: none;
  cursor: pointer;
  color: #000408; /* Link color */
  text-decoration: Bold;
}


