.header {
    background-color: hsl(355, 80%, 25%); /* Darker background for better contrast */
    padding: 10px 20px; /* More padding for a spacious look */
    border-bottom: 2px solid #dee2e6; /* Slightly thicker border for emphasis */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    margin-right: 30px; /* Increased spacing between links */
  }
  
  .nav-links li:last-child {
    margin-right: 0; /* Remove margin from the last item */
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #f8f9fa; /* Lighter color for better readability */
    font-weight: bold; /* Bold text for better emphasis */
    transition: color 0.3s; /* Smooth transition for color change */
  }
  
  .nav-links li a:hover {
    color: #adb5bd; /* Hover color for links */
  }
  
  .nav-links li button {
    background: none;
    border: none;
    color: #5297dc; /* Lighter color for consistency with links */
    cursor: pointer;
    font-weight: bold; /* Bold text for better emphasis */
    transition: color 0.3s; /* Smooth transition for color change */
  }
  
  .nav-links li button:hover {
    color: #adb5bd; /* Hover color for button */
  }

  .logo {
  font-family: 'Your Chosen Font', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #aeb107; /* Example color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Example text shadow */
  /* Add any other styles you want to apply to the logo here */
}

  
  